@import url("https://fonts.googleapis.com/css2?family=Exile&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
    padding:  0;
    margin:  0;
    box-sizing:  border-box;
    scroll-behavior: smooth;

}

:root{
    /* FONTS */
    --FF-LIBRE: "Libre Baskerville",  serif;
    --FF-ROBOTO: "Roboto", serif;
    --FF-EXILE: "Exile", serif;
    --FF-NUNITO: "Nunito", sans-serif;
    --FS: 1.5rem;

/* COLORS */
    --BBCOLOR:whitesmoke;
    --ALT-BBCOLOR:hsla(31, 32%, 85%, 0.493);
    --RDCOLOR: #f00;
    --GDCOLOR:   #F4A261;
    --TXTCOLOR: #1A1A1A;
    --PURPCOLOR: #2E1A47;
    --H1COLOR: #FF4040;
    --BLENDRD:  lch(57.36% 83.59 32.42 / 0.404);
    --LIGHTGRAY: #edebec;
    --DARKGRAY:#f2f1eb;
    --WARMGRAY: #d7d3d8;
    --ALTWARMGRAY: #c2bdc4;
    --DARKBLUR: #34495e;
    --REBECCAPURPLE: #663399;
    --SOFTBLUE: #7B68EE;

    /*HEADER */
    --HEADER-BBCOLOR: #F4A261;
    --HEADER-COLOR: var(--TXTCOLOR);

    /* OOTHERS */
    --PADDING: 1rem;
    --MARGINAUTO: 0rem auto;
    --LH: 1.6;

}

@media screen and (max-width: 991px) {
    :root{
         --FS: 1rem;
          /* OOTHERS */
    --PADDING: 1rem;
    --MARGINAUTO: 0rem auto;
    --LH: 1.3;

    }
    
}

/* GENERAL STYLES */

html{
    font-size:  var(--FS);
    font-family:  var(--FF-NUNITO);
    /* background-color: var(--ALT-BBCOLOR); */
    background-color: var(--LIGHTGRAY);
    

}

body{
    display:  flex;
    flex-flow:  column;
    height: auto;
    width: 100%;
    height: 100%;
}

/* HEADER */
header{
    /* background-color: var(--PURPCOLOR); */
    /* background-color: #34495e; */
    background-color: var(--WARMGRAY);
    color: var(--TXTCOLOR);
  
} 

.header-title-line{
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
}

header img{
    width: 100%;
    max-width: 75px;;
    height: 100%;
    max-height: 75px;
}

.menu-button{
    background-color: transparent;
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border: #000;
    position: relative;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after{
    background-color: var(--TXTCOLOR);
    height: 100%;
    width: 100%;
    max-width: 40px;
    max-height: 5px;
    border-radius: 5px;
    transition: all 0.5s;
    position: absolute;
}

.menu-icon::before,
.menu-icon::after{
    content: "";
}

.menu-icon::before{
transform: translate(-20px, -12px);
}

.menu-icon::after{
transform: translate(-20px, 12px);
}

:is(header:hover, header:focus-within) .menu-icon{
    background-color: transparent;
   /*  transform: rotate(720deg); */
}

/* :is(header:hover, header:focus-within) .menu-icon::before{
    transform:  translateX(-20px) rotate(45deg);
}
 */

/* :is(header:hover, header:focus-within) .menu-icon::after{
    transform:  translateX(-20px) rotate(-45deg);
} */

:is(header:hover, header:focus-within) nav{
    display: block;
}

nav {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    width: 100%;
}

/* When header is hovered or focused */
:is(header:hover, header:focus-within) nav {
    display: block;
    max-height: 300px; /* enough space for your nav */
}


nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

nav li{
    padding:  0.5rem;
    border-right: 1px solid var(--TXTCOLOR);
}
   

nav a:any-link{
    text-decoration: none;
    color: var(--TXTCOLOR);
    font-weight: bold;
}

nav a {
    transition: transform 0.2s ease-in-out;
     display: block;
    margin: auto;
    text-align: center;
    width: 80%;
}


nav a:hover,
nav a:focus {
    transform: scale(1.2);
}
/* MAIN */

main{
    flex-grow: 1;
    height: 100%;
    width: 100%;
    /* background-color: var(--ALT-BBCOLOR); */
    display: flex;
    flex-flow: column nowrap;
    padding: var(--PADDING);

}

main ol, ul, li{
    font-family: var(--FF-NUNITO);
    font-size: inherit;
    font-weight: inherit;
    font-style: normal;
    word-spacing: 2px;
    line-height: var(--LH);
}
/* ENTER FAQS CODE HERE! */

article{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    /* align-items: center; */
    padding: 10px;

}
article h1{
    text-align: center;
}

article ol{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
   /*  margin: var(--MARGINAUTO); */
    list-style-type: none;
   
}

article li{
    display: inline-flex;
    flex-flow: column nowrap;
    /* width: 50%; */
}

details summary{
     cursor: pointer;
  font-weight: bold;
  padding: 0.5em;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 4px;

}

details[open] summary {
  background-color: #e0f7fa;
}

details[open] p{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 1em;
    margin: 0 auto;
    text-align: justify;
}

/* span{
    display: inline-flex;
    align-items: center;
    cursor: pointer;

}
 */
/* span img{
    height: 25px;
    width: 25px;
 } */

/* ASIDE STYLES */

aside{
    display: block;
    position: fixed;
    right: 0;
}

aside img{
    height: 100%;
    max-height: 30px;
    width: 100%;
    max-width: 30px;
}

aside ul{
    list-style-type: none;
    display: block;
}

aside li{
    padding: 10px;
}

@media screen and (max-width: 991px) {
    aside img{
    height: 100%;
    max-height: 30px;
    width: 100%;
    max-width: 30px;
}
    
}

/* HOMR LOGO DIV */

.Home{
    display: block;
    background-color: var(--ALTWARMGRAY);
    width: 100%;
    text-align: center;
    color: var(--TXTCOLOR);
    font-family: var(--FF-NUNITO);
    font-size: 1rem;
    font-weight: 450;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: 1.5px;
}

.Home img{
    display: block;
    margin: var(--MARGINAUTO);
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;   
}

.Home a {
    text-decoration: none;
    color: inherit;
}

.Home a:hover, 
.Home a:focus{
    text-decoration: underline;

}

@media screen and (max-width: 991px) {
    
.Home{
    display: block;
    background-color: var(--ALTWARMGRAY);
    width: 100%;
    text-align: center;
    color: var(--TXTCOLOR);
    font-family: var(--FF-NUNITO);
    font-size: 0.8rem;
    font-weight: 450;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: 1px;
}

.Home img{
    display: block;
    margin: var(--MARGINAUTO);
    width: 100%;
    max-width: 130px;
    height: 100%;
    max-height: 130px;   
}
}

/* FOOTER STYLES */

footer{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: var(--PURPCOLOR); */
    background-color: var(--ALTWARMGRAY);
    color: var(--TXTCOLOR);
    font-family: var(--FF-NUNITO);
    font-size: 1rem;
    font-weight: 450;
    font-style: italic;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding: var(--PADDING);

}

footer a{
    color: var(--TXTCOLOR);
    text-decoration: none;
}

/* END! */


